@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/OpenSans-Light.ttf");
    font-size: 1em;
}


footer {
	margin-top: 110px;
}
footer .row {
	width: 100%;
}
footer .logotipo {
	margin-top: 28px;
}
footer .row p {
	line-height: 55px;
	margin-bottom: 0;
}
footer .row-cinza-claro {
	height: 200px;
	background-color: #171F26;
}
footer .row-cinza-escuro {
	height: 60px;
	background-color: #11171D;
	border-top: #242D37 1px solid;
}
footer .pull-left {
	font-family: 'OpenSans';
	font-size: 14px;
	color: #666;
}
footer .text-roxo {
	color: #623291;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 14px;
}
footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
	margin-top: 40px;
}
footer .row-cols h4 {
	font-family: 'OpenSans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}
footer .row-cols h5 {
	color: #666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 0;
}
footer .row-cols time {
	color: #FDE092;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}
footer .col-links .fa {
	margin: 0 6px;
}

/* get in touch */
footer .col-get-in-touch address {
	color:#666;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 6px;
}
footer .col-get-in-touch address span {
	display: inline-block;
}
footer .col-get-in-touch address i {
	position: relative;
	top: -14px;
}
footer .col-get-in-touch i {
	color: #9B9B9B;
	font-size: 20px;
	margin: 0 6px;
}
footer .col-get-in-touch a {
	color: #666;
}
footer .col-get-in-touch p {
	line-height: 20px;
}

/* social */
footer .list-socials {
	margin-top: 4px;
}
footer .list-socials li {
	display: inline-block;
	margin-right: 8px;
}
footer .list-socials a {
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
}
footer .list-socials i {
	font-size: 16px;
	margin: 7px auto;
}