/* FONTES */
@font-face {
    font-family: "OpenSans";
    src: url("/font/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("/font/OpenSans-Light.ttf");
    font-size: 1em;
}

/* HEADER */
header {
    width: 100%;
    height: 150px;
    background-color: rgba(94,41,154,0.8);
    z-index: 2;
    position: relative;
}

/* BODY */

/* FOOTER */